<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Spreedly Sample iFrame Payment Page</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- From https://github.com/spreedly/sample-payment-frame/blob/master/css/styles.css-->
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

  <script src="{{{CORE_URL}}}/iframe/iframe-3ds.min.js"></script>

  <!-- Demo specific UI css + JS-->
  <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">

  <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="./javascripts/spreedly-debug-utils.js"></script>

  <!-- iframe setup boilerplate-->
  <script src="./javascripts/spreedly-iframe-boilerplate.js"></script>

  <script src="./javascripts/your-code.js"></script>
</head>

<body>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>&nbsp;Spreedly 3DS / Iframe Demo</h1>
    </div>

    <ul class="nav nav-pills">
      <li role="presentation"><a href="/"><span class="glyphicon glyphicon-credit-card"
            aria-hidden="true"></span>&nbsp;Iframe</a></li>
      <li role="presentation"><a href="express"><span class="glyphicon glyphicon-sunglasses"
            aria-hidden="true"></span>&nbsp;Express</a></li>
    </ul>

    <div class="panel-body">
      <div class="container">

        <div class="transaction-result">
          <div class="display-form hidden" id="purchase-success-container">
            <h2>Success!</h2>
            Transaction Token: <span id="purchase-success-container-token"></span>
            <br>
            <br>
            To repeat, click <a href="javascript:window.location.reload()">here</a> to refresh, or use the Refresh
            button on your browser.
          </div>

          <div class="display-form hidden" id="purchase-failure-container">
            <h2>Failure!</h2>
            Error: <span id="purchase-failure-container-token"></span>
            <br>
            <br>
            To repeat, click the Refresh button on your browser.
          </div>
        </div>

        <form id="payment-form" accept-charset="UTF-8" class="spf-form" method="POST" action="#"
          onsubmit="submitPaymentForm(); return false;">
          <div class="display-form" id="payment-form-container">
            <input type="hidden" name="payment_method_token" id="payment_method_token" value="" />

            <fieldset class="spf-fs-name">
              <h2>3DS2 Options</h2>
              <div class="spf-field spf-field-fname">
                <label class="internal" for="spf-flow">Amount</label>

                <select name="spf-flow" id="spf-flow" onchange="updateInfoBlob(this)">
                  <option value="1000">&euro; 10.00</option>
                  <option value="2500">&euro; 25.00</option>
                  <option value="5000">&euro; 50.00</option>
                  <option value="7500">&euro; 75.00</option>
                  <option value="9000">&euro; 90.00</option>
                  <option value="10000" selected>&euro;100.00</option>
                </select>

                <br>
                <!-- Button trigger modal -->
                <a href="#" class="stretched-link" data-toggle="modal" data-target="#myModal">
                  <br>
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Test scenarios info
                </a>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Test Scenarios</h4>
                      </div>
                      <div class="modal-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Amount in cents</th>
                              <th>Flow</th>
                              <th>Description</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>10</td>
                              <td>Authenticated</td>
                              <td>Frictionless authenticated success</td>
                            </tr>
                            <tr>
                              <td>2500</td>
                              <td>Authenticated</td>
                              <td>Frictionless authenticated low value exemption requested</td>
                            </tr>
                            <tr>
                              <td>5000</td>
                              <td>Authenticated</td>
                              <td>Frictionless authenticated transaction risk analysis exemption requested</td>
                            </tr>
                            <tr>
                              <td>7500</td>
                              <td>Authenticated</td>
                              <td>Frictionless authenticated low value exemption requested but not satisfied</td>
                            </tr>
                            <tr>
                              <td>9000</td>
                              <td>Not authenticated</td>
                              <td>Mocked immediate failure</td>
                            </tr>
                            <tr>
                              <td>10000</td>
                              <td>Challenge</td>
                              <td>Authentication requires Challenge by issuing bank, handled by Lifecycle</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div> <!-- end modal-->

              </div>

              <div class="spf-field spf-field-fname">
                <label class="internal" for="spf-3ds1">Force 3DS1 Challenge</label>
                <input class="spf-input-checkbox" type="checkbox" value="kickoff3ds1" id="spf-3ds1">
              </div>
            </fieldset>

            <fieldset class="spf-fs-name">
              <h2>Name</h2>
              <div class="spf-field spf-field-fname">
                <label class="internal" for="spf-fname">First Name</label>
                <input type="text" class="spf-input-text" id="first_name" value="John">
              </div>
              <div class="spf-field spf-field-lname">
                <label class="internal" for="spf-lname">Last Name</label>
                <input type="text" class="spf-input-text" id="last_name" value="Doe">
              </div>
            </fieldset>

            <fieldset class="spf-fs-cc">
              <h2>Payment Details</h2>

              <div class="spf-field">
                <label class="spf-field-group spf-number">Credit Card Number</label>
                <label class="spf-field-group spf-verification_value">CVV</label>
                <div id="spreedly-number-test" class="spf-field-group spf-number spf-field-cc">
                </div>
                <div id="spreedly-cvv-test" class="spf-field-group spf-verification_value spf-field-cc">
                </div>
              </div>

              <div class="spf-field spf-field-exp">
                <label>Expiration Date</label>
                <div class="spf-field-group spf-month">
                  <input type="text" class="spf-input-text spf-exp" id="month" size="3" maxlength="2" placeholder="MM">
                </div>
                <span class="spf-exp-divider">/</span>
                <div class="spf-field-group spf-year">
                  <input type="text" class="spf-input-text spf-exp" id="year" size="5" maxlength="4" placeholder="YYYY">
                </div>
              </div>
            </fieldset>

            <fieldset class="spf-field-submit">
              <input type="submit" class="button" value="Submit Payment">
              <div id="message"></div>
              <div id="errors"></div>
            </fieldset>
          </div>


          <div class="spreedly-iframes">
            <div id="deviceFingerprint" class="hidden">
              <!-- this is supposed to be hidden/empty -->
            </div>

            <div id="hiddenChallenge" class="hidden sp3ds2-modal">
              <div id="challengeContainer" class="sp3ds2-modal-content-full">
                <!-- this is supposed to be hidden/empty -->
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="panel-footer">
      <a href="https://github.com/spreedly/sample-spreedly-3ds" target="_blank">GitHub Repo</a> | 
      <a href="https://docs.spreedly.com/guides/spreedly-3dsecure2-web/" target="_blank">Spreedly 3D Secure Web Integration Guide</a>
    </div>

    <script type="text/javascript">

      // ***************** Values passed from backend **********************
      // {{! these section provided by mustache}}
      // {{! notice triple brackets used to avoid escaping some values}}
      var SPREEDLY_ENV_KEY = '{{{SPREEDLY_ENV_KEY}}}' || ''
      var REDIRECT_URL = '{{{REDIRECT_URL}}}' || ''
      var CALLBACK_URL = '{{{CALLBACK_URL}}}' || ''
      var CORE_URL = '{{{CORE_URL}}}'
      var BASE_URL = '{{{BASE_URL}}}'

      // The accept header from your server side rendered page. You'll need to inject it into the page.
      // ie: 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8'    
      var HEADER_ACCEPT = '{{{HEADER_ACCEPT}}}'

      // End - ***************** Values passed from backend **********************


      // ***************** Basic Setup - Wire your functions into Spreedly API ************
      Spreedly.init('{{{SPREEDLY_ENV_KEY}}}', {numberEl: 'spreedly-number-test', cvvEl: 'spreedly-cvv-test'});

      Spreedly.on('paymentMethod', onPaymentMethodFn);
      Spreedly.on('3ds:status', on3DSstatusUpdatesFn)

      /**
      * Note: See `spreedly-3ds2-boilerplate.js` for implementation.
      * @see {@link https://docs.spreedly.com/reference/iframe/v1/#errors|Errors}
      * @see {@link https://docs.spreedly.com/reference/iframe/v1/#ready|Ready}
      * @see {@link https://docs.spreedly.com/reference/iframe/v1/#fieldevent|FieldEvent}
      */
      Spreedly.on('errors', onErrorrsFn);
      Spreedly.on('ready', onReadyFn);
      Spreedly.on('fieldEvent', onFieldEventFn)

      /**
       * called by #on3DSstatusUpdatesFn()
       * allows Spreedly 3DS2 to interact with your users 
      */
      function show3DSChallengeModal(event) {
        // For the complete example see step #7 ("Show your modal")
        // https://docs.spreedly.com/guides/3dsecure2/#integration
        console.log("Displaying modal")
        document.querySelector('#hiddenChallenge').className = "sp3ds2-modal"
      }

      /**
       * Control of the UI is handed back to your application code
       */
      function updateUI(transactionData, isSuccess) {
        // Clean up Spreedly's custom HTML elements
        console.log(transactionData)
        console.log(transactionData.context)
        document.querySelector("#challengeContainer").innerHTML = ''
        document.querySelector('#hiddenChallenge').className = "hidden"
        document.querySelector('#payment-form-container').style.display = 'none';

        // In lieu of a fancy UI, we'll just show the outcome of our 3DS call.

        if (isSuccess) {
          document.querySelector('#purchase-success-container').className = "display-form"
          document.querySelector('#purchase-success-container-token').innerHTML = transactionData.token
        } else {
          document.querySelector('#purchase-failure-container').className = "display-form"
          document.querySelector('#purchase-failure-container-token').innerHTML = transactionData.token + ' ' + (transactionData.context || transactionData.message)
        }
      }

    </script>
</body>

</html>